*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f2f4f8;
    color: #333;
    padding: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly
}


.karta1 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta1 img {
    width: 350px;
    height: auto;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta1 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta1 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta2 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta2 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta2 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta2 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta3 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta3 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta3 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta3 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta4 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta4 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta4 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta4 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta5 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta5 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta5 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta5 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta6 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta6 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta6 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta6 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta7 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta7 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta7 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta7 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}

.karta8 {
    width: 350px;
    height: 400px;
    margin: 30px;
    background-color: white;
    border: 15px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.karta8 img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.karta8 h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
}

.karta8 p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    color: #555;
    text-decoration: none;
    font-weight: 5;
    font-size: 110%;
}
